@import "~normalize.css";

body { margin: 0; padding: 0; background: #2d2d2d; color: #e9e9e9; }

/* แบบอักษร */
.คณิต { font-family: Kanit, "Avenir Next", "Segoe UI", sans-serif; }
.ปรีดี { font-family: Pridi, "Helvetica Neue", "Segoe UI", sans-serif; }

/* สี */
.สีนกเป็ดน้ำ { color: #00D7FF; }
